<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvPUcf1OSo-BOS4xEhDA_PkBpW5WYtWUE" />

        <activity
            android:name=".ComentariosActivity"
            android:parentActivityName=".menu.MenuActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".QualificationActivity"
            android:exported="true"
            android:parentActivityName=".menu.MenuActivity">
        </activity>
        <activity
            android:name=".SearchPerfilActivity"
            android:exported="false"
            android:parentActivityName=".menu.MenuActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menu.CrearTrabajo"
            android:exported="false"
            android:parentActivityName=".menu.MenuActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".start.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.SearchActivity"
            android:exported="true"
            android:parentActivityName=".menu.MenuActivity" />
        <activity
            android:name=".start.RegisterActivity"
            android:parentActivityName=".start.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".menu.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".menu.ProfileActivity"
            android:exported="true"
            android:parentActivityName=".menu.MenuActivity" />
        <activity
            android:name=".menu.HistoryActivity"
            android:exported="true"
            android:parentActivityName=".menu.MenuActivity" />
    </application>

</manifest>